* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: black;
}

.form-img-2 {
  width: 30%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
